.idea
*.pyc
*.class
*.avi
__pycache__
checkpoint
.ipynb_checkpoints
models
Models/
MNIST
iwslt.pt
.data
data/
venv
.DS_STORE
node_modules/
Experiments/BERT/saved_models/
Experiments/SimpleProjects/Data/
Experiments/ChatGPT/cache/
